{% extends 'base.html.twig' %}

{% block title %}Ceci est un test {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofT8+cu5FvXAZ+O7aI47tq+76RMEb7E2x" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<!-- Page Content -->

<div class="content container-fluid">
	
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('modify') %}
<div class="alert alert-info">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('delete') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}
    

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Liste Licencié</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">licencie</a></li>
                    <li class="breadcrumb-item active">Liste</li>
                </ul>
                <a href="{{ path('app_educateur_new') }}" class="btn btn-primary float-right">Ajouter un educateur</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-nowrap custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Numero</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Categorie</th>
                            <th>Contact</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in educateurs %}
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>
                                <h2 class="table-avatar">
                                    {{ e.numero }}
                                </h2>
                            </td>
                            <td>{{ e.nom }}</td>
                            <td>{{ e.prenom }}</td>
                            <td>{{ e.categorie.nom }}</td>
                            <td>{{ e.contact.nom }} {{ e.contact.prenom }} {{ e.contact.telephone }}</td>
                            <td>
                                <a href="{{ path('app_educateur_edit', {'id': e.id}) }}" class="btn btn-info"><i class="las la-edit"></i></a>
                                <a href="{{ path('app_educateur_delete', {'id': e.id}) }}" class="btn btn-danger"><i class="las la-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

</div>

<!-- /Page Content -->

{% endblock %}
