{% extends 'base.html.twig' %}

{% block title %}Ceci est un test {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    
{% endblock %}

{% block body %}
<!-- Page Content -->

<script>
    $(document).ready(function() {
        $('.js-select2').select2();
    });

</script>

<style>

    .select2-container--default .select2-selection--single {
        height: 42px; /* Ajustez la hauteur selon vos besoins */
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 42px; /* Centrez le texte verticalement */
    }
</style>

<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Creer un educateur</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">liste Educateurs</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
        
            <!-- Custom Boostrap Validation -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Ajouter un educateur</h5>
                    <p class="card-text">Renseigné les informations du l'educateur</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Numero licencie</label>
                                        {{ form_widget(form.numero) }}
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Nom</label>
                                        {{ form_widget(form.nom) }}
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustomUsername">Prenoms</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend"></span>
                                            </div>
                                            {{ form_widget(form.prenom) }}
                                            <div class="invalid-feedback">
                                                Please choose a username.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom03">Categorie</label>
                                        {{ form_widget(form.categorie) }}
                                        <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="validationCustom04">Contact</label>
                                        {{ form_widget(form.contact) }}
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Email</label>
                                        {{ form_widget(form.email) }}
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label for="validationCustom04">Mot de passe</label>
                                        {{ form_widget(form.pwd) }}
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label" for="invalidCheck">
                                            Definir comme administrateur
                                        </label>
                                        <div class="invalid-feedback">
                                            You must agree before submitting.
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">valider</button>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Custom Boostrap Validation -->
            
            <!-- Default Browser Validation -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Ajouter un contact</h5>
                <p class="card-text">Créer le contact à associer au licencié s'il n'existe pas encore</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">First Name</label>
                                        <input type="text" class="form-control" id="validationDefault01" placeholder="First Name" value="Mark" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">Last Name</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="Last Name" value="Otto" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefaultUsername">Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                            </div>
                                            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault03">City</label>
                                        <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="validationDefault04">State</label>
                                        <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="validationDefault05">Zip</label>
                                        <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            Agree to terms and conditions
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Default Browser Validation -->



<!-- /Page Content -->

{% endblock %}
