<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Menu</span>
							</li>
							<li class="submenu">
								<a href="{{path('app_educateur_dashboard')}}"><i class="la la-dashboard"></i> <span> Tableau de bord</span> <span class=""></span></a>
								
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-envelope"></i> <span> Mails</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="chat.html">Educateurs</a></li>
							
									<li><a href="events.html">Licenciés</a></li>
									<li><a href="contacts.html">Contacts</a></li>
						
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Gestions des catégories</span>
							</li>
							
							<li> 
								<a href="{{path('app_categorie_new')}}"><i class="la la-folder"></i> <span>Ajouter categorie</span></a>
							</li>
							
							<li> 
								<a href="{{path('app_categorie_index')}}"><i class="la la-list"></i> <span>Liste categories</span></a>
							</li>
							
							<li class="menu-title"> 
								<span>Gestion des contacts</span>
							</li>
							
							
							<li> 
								<a href="{{path('app_contact_new')}}"><i class="la la-user"></i> <span>Ajouter contacts</span></a>
							</li>
							<li class="submenu">
								<a href="{{path('app_contact_index')}}"><i class="la la-list"></i> <span> Liste contacts </span> <span class=""></span></a>
								
							</li>
							<li class="menu-title"> 
								<span>Gestion licenciés</span>
							</li>
							
							
						
							<li><a href="{{path('app_licencie_new')}}"><i class="la la-user"></i> <span>Ajouter licenciés</span></a></li>
							<li><a href="{{path('app_licencie_index')}}"><i class="la la-list"></i> <span>Liste licenciés</span></a></li>
							
							<li class="menu-title"> 
								<span>Gestion educateurs</span>
							</li>
							<li> 
								<a href="{{path('app_educateur_new')}}"><i class="la la-user"></i> <span>Ajouter educateurs</span></a>
							</li>
							
							<li> 
								<a href="{{path('app_educateur_index')}}"><i class="la la-list"></i> <span>Liste educateurs</span></a>
							</li>
							
					</div>
                </div>
            </div>
			<!-- /Sidebar -->